div {
	width: 150px;
	height: 150px;
}

#bb1{
	background-image: url(../img/bb1.jpg); /* accediendo a la carpeta donde están almacenadas las imagénes por medio de la ruta, con .. retrocedo una carpeta.*/
    background-size: 100%; 
}

#bb2{
	background-image: url(../bb2.jpg);
	background-size: 100%;
	float: left;
}

#bb3{
	background-image: url(../img/bb3.jpg);
	background-size: 100%;
}

#bb4{
	background-image: url(../img/bb4.jpg);
	background-size: 100%;
}

#bb5{
	background-image: url(../img/bb5.jpg);
	background-size: 100%;
}
